<div class="swiper-slide">
  <div class="programs-item">
    <div class="programs-item__category">Программа питания</div>
    <h3 class="programs-item__title h4">@@title</h3>
    <div class="programs-item__period">@@period</div>
   <div class="programs-item__footer">
     <div class="compound">
       <div class="compound_total">
         <div class="compound_title">всего</div>
         <div class="compound_count">1000 Ккал</div>
       </div>
       <div class="compound_items">
         <div class="compound_col">
           <div class="compound_title">Белки</div>
           <div class="compound_count">45</div>
         </div>
         <div class="compound_col">
           <div class="compound_title">Жиры</div>
           <div class="compound_count">67</div>
         </div>
         <div class="compound_col">
           <div class="compound_title">Углеводы</div>
           <div class="compound_count">107</div>
         </div>
       </div>
     </div>

     <div class="programs-item__img">
       <img src="images/programs/@@imgUrl" alt="">
       <form action="#">
         <button type="submit" class="btn-plus click-animation">
           <svg>
             <use xlink:href="images/icons/sprite.svg#plus"></use>
           </svg>
         </button>
       </form>
     </div>
   </div>
  </div>
</div>