<footer class="footer">
  <div class="footer-top mb-3">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="footer-top__left">
            <div class="footer-top__img">
              <img src="images/footer-img.svg" alt="">
            </div>

            <div class="footer-btns">
              <button type="button" class="footer-btns__item">
                <span class="footer-btns__item-icon">
                   <svg>
                      <use xlink:href="images/icons/sprite.svg#marker"></use>
                   </svg>
                </span>
                Ивано-Франковск
              </button>
              <button type="button" class="footer-btns__item whiteBg">
               <span class="footer-btns__item-icon">
                 <svg>
                    <use xlink:href="images/icons/sprite.svg#phone"></use>
                 </svg>
               </span>
                +380(67) 505 05 10
              </button>
            </div>
          </div>
        </div>

        <div class="col-9">
          <div class="row h-100">
            <div class="col-6">
              <div class="footer-top__menu h-100">
                <div class="row g-4">
                  <div class="col-6">
                    <div class="footer-top__menuItem">
                      <div class="footer-top__menuItem--title">Доставка отдельных блюд</div>
                      <ul class="footer-top__menuItem--list">
                        <li><a href="#">Ем все</a></li>
                        <li><a href="#">вегетарианец</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="footer-top__menuItem">
                      <div class="footer-top__menuItem--title">Программное питание</div>
                      <ul class="footer-top__menuItem--list">
                        <li><a href="#">Худей</a></li>
                        <li><a href="#">Сохрани вес</a></li>
                        <li><a href="#">Набирай</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="footer-top__menuItem">
                      <div class="footer-top__menuItem--title">heat & eat</div>
                      <ul class="footer-top__menuItem--list">
                        <li><a href="#">Ем все</a></li>
                        <li><a href="#">вегетарианец</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="footer-top__menuItem">
                      <div class="footer-top__menuItem--title">системы питания</div>
                      <ul class="footer-top__menuItem--list">
                        <li><a href="#">Ем все</a></li>
                        <li><a href="#">вегетарианец</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="footer-top__menuItem fullWidth">
                      <div class="footer-top__menuItem--title">полезно</div>
                      <ul class="footer-top__menuItem--list">
                        <li><a href="#">Как это работает</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Диетолог</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Блог</a></li>
                        <li><a href="#">FAQ</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 d-flex flex-column">
              <div class="footer-top__contacts mb-3 flex-grow-1">
                <div class="row h-100">
                  <div class="col-12 d-flex flex-column">
                    <div class="row mb-4">
                      <div class="col-6">
                        <div class="footer-top__menuItem">
                          <div class="footer-top__menuItem--title">НАш адрес</div>
                          <ul class="footer-top__menuItem--list">
                            <li><a href="https://goo.gl/maps/DSh4o7cvy7bhQjqx7" target="_blank"> м. Івано-Франківськ, <br> вул. Звязкова 6</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="footer-top__menuItem">
                          <div class="footer-top__menuItem--title">телефон</div>
                          <ul class="footer-top__menuItem--list">
                            <li><a href="tel:+380675050510">+380(67) 505 05 10</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-auto">
                      <div class="col-6">
                        <div class="footer-top__menuItem">
                          <div class="footer-top__menuItem--title">Email</div>
                          <ul class="footer-top__menuItem--list">
                            <li><a href="mailto:emotion2goukraine@gmail.com">emotion2goukraine@gmail.com</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="footer-top__menuItem">
                          <div class="footer-top__menuItem--title">График работы</div>
                          <ul class="footer-top__menuItem--list">
                            <li>пн-пт - 08:00 - 20:00</li>
                            <li>сб-нд - 09:00 - 20:00</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-top__info">
                <div class="row">
                  <div class="col-6">
                    <div class="footer-top__cards">
                      <div class="footer-top__cards--img">
                        <img src="images/icons/cards.svg" alt="">
                      </div>

                      <div class="footer-top__cards--title text-uppercase">
                        <a href="#">договор оферты</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">

                    @@include('../../components/social/index.html')
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row px-3">
        <div class="col-6 d-flex">
          <div class="footer-bottom__copyright">
            © smakovski 2022. All rights reserved
          </div>
          <div class="footer-bottom__privacyPolicy"><a href="#">Privacy Policy</a></div>
        </div>
        <div class="col">
          <a href="#" target="_blank" class="footer-bottom__madeBy">
            Made by
            <div class="footer-bottom__madeBy--logo">
              <img src="images/brab.svg" alt="">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

