<div class="swiper-slide sales-slider_item">
  <img src="images/sales-slider/@@imgUrl" alt="">
  <form action="#">
    <div class="sales-item">
      <div class="sales-item_desc">
        <div class="sales-item_title">@@title</div>
        <div class="sales-item_subtitle">@@subtitle</div>

        <button type="submit" class="btn-plus click-animation">
          <svg>
            <use xlink:href="images/icons/sprite.svg#plus"></use>
          </svg>
        </button>
      </div>
      <div class="sales-item_img">
        <img src="images/sales-slider/image-1-1.jpg" alt="">
      </div>
    </div>
  </form>
</div>