<div class="swiper-slide sales-slider_item">
  <img src="images/sales-slider/@@imgUrl" alt="">
  <div class="sales-item">
    <div class="sales-item_desc">
      <div class="sales-item_title">@@title</div>
      <div class="sales-item_subtitle">@@subtitle</div>

      <button type="submit" class="btn-plus click-animation">
        <svg>
          <use xlink:href="images/icons/sprite.svg#arrowRight"></use>
        </svg>
      </button>
    </div>
    <div class="sales-item_img">
      <img src="images/sales-slider/@@imgUrl" alt="">
    </div>
  </div>
</div>