<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-32 d-flex justify-content-between align-items-end gap-3">
          <h2 class="h1">Акции</h2>
          <a href="#" class="btn-site-2">Все</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="swiper promo-slider">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="promo-item">
                <div class="promo-item__logos">
                  <div class="promo-item__logo">
                    <img src="images/Smakovski.svg" alt="">
                  </div>
                  <div class="promo-item__line"></div>
                  <div class="promo-item__logo">
                    <img src="images/logos/logo-1.png" alt="">
                  </div>
                </div>
                <div class="promo-item__category">Комбо</div>
                <div class="promo-item__title">Кэшьек до 7% на все</div>
                <div class="promo-item__footer">Доступно до 24.12.2022</div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="promo-item promo-item-white">
                <div class="promo-item__img">
                  <img src="images/sales-slider/image-3.jpg" alt="">
                </div>
                <div class="promo-item__header">
                  <span>программа</span>
                  <span>Доступно до 24.12.2022</span>
                </div>
                <div class="promo-item__category">Slim Balance</div>
                <div class="promo-item__title">Закажи на месяц с выгодой до 15%</div>
                <div class="promo-item__footer">
                  <a href="#" class="btn-site-3 click-animation yellow">детальнее</a>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="promo-item">
                <div class="promo-item__logos">
                  <div class="promo-item__logo">
                    <img src="images/Smakovski.svg" alt="">
                  </div>
                  <div class="promo-item__line"></div>
                  <div class="promo-item__logo">
                    <img src="images/logos/logo-1.png" alt="">
                  </div>
                </div>
                <div class="promo-item__category">Комбо</div>
                <div class="promo-item__title">Кэшьек до 7% на все</div>
                <div class="promo-item__footer">Доступно до 24.12.2022</div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="promo-item">
                <div class="promo-item__logos">
                  <div class="promo-item__logo">
                    <img src="images/Smakovski.svg" alt="">
                  </div>
                  <div class="promo-item__line"></div>
                  <div class="promo-item__logo">
                    <img src="images/logos/logo-1.png" alt="">
                  </div>
                </div>
                <div class="promo-item__category">Комбо</div>
                <div class="promo-item__title">Кэшьек до 7% на все</div>
                <div class="promo-item__footer">Доступно до 24.12.2022</div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="promo-item promo-item-white">
                <div class="promo-item__img">
                  <img src="images/sales-slider/image-3.jpg" alt="">
                </div>
                <div class="promo-item__header">
                  <span>программа</span>
                  <span>Доступно до 24.12.2022</span>
                </div>
                <div class="promo-item__category">Slim Balance</div>
                <div class="promo-item__title">Закажи на месяц с выгодой до 15%</div>
                <div class="promo-item__footer">
                  <a href="#" class="btn-site-3 click-animation yellow">детальнее</a>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="promo-item">
                <div class="promo-item__logos">
                  <div class="promo-item__logo">
                    <img src="images/Smakovski.svg" alt="">
                  </div>
                  <div class="promo-item__line"></div>
                  <div class="promo-item__logo">
                    <img src="images/logos/logo-1.png" alt="">
                  </div>
                </div>
                <div class="promo-item__category">Комбо</div>
                <div class="promo-item__title">Кэшьек до 7% на все</div>
                <div class="promo-item__footer">Доступно до 24.12.2022</div>
              </div>
            </div>
          </div>
          <div class="slider-buttons">
            <button type="button" class="promo-slider-prev slider-button-prev click-animation"></button>
            <button type="button" class="promo-slider-next slider-button-next click-animation"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>