<div class="col-3">
  <div class="product-item">
    <div class="product-item_img">
      <img src="images/product/@@imgUrl" alt="">
    </div>
    <div class="product-item_header">
      <div class="product-item_header--left">

        @@if(context.updated){
        <div class="product-item_status product-item_status--updated">
          <div class="product-item_status--icon">
            <svg>
              <use xlink:href="images/icons/sprite.svg#info"></use>
            </svg>
          </div>
          <span>Обновлено</span>
        </div>
        }
        @@if(context.new){
        <div class="product-item_status product-item_status--new">
          <div class="product-item_status--icon">
            <svg>
              <use xlink:href="images/icons/sprite.svg#info"></use>
            </svg>
          </div>
          <span>Новинка</span>
        </div>
        }

        @@if(context.sales){
        <div class="product-item_status product-item_status--sales">
          <div class="product-item_status--icon">
            <svg>
              <use xlink:href="images/icons/sprite.svg#info"></use>
            </svg>
          </div>
          <span>скидка</span>
        </div>
        }

        @@if(context.hit){
        <div class="product-item_status product-item_status--hit">
          <div class="product-item_status--icon">
            <svg>
              <use xlink:href="images/icons/sprite.svg#info"></use>
            </svg>
          </div>
          <span>хит</span>
        </div>
        }


        <div class="product-item_category">@@category</div>
      </div>
      <div class="product-item_composition">

        @@if(context.drink){
          <div class="product-item_composition--item">
            <svg>
              <use xlink:href="images/icons/sprite.svg#drink"></use>
            </svg>
          </div>
        }
        @@if(context.energy){
          <div class="product-item_composition--item">
            <svg>
              <use xlink:href="images/icons/sprite.svg#energy"></use>
            </svg>
          </div>
        }
        @@if(context.veganCircle){
          <div class="product-item_composition--item">
            <svg>
              <use xlink:href="images/icons/sprite.svg#veganCircle"></use>
            </svg>
          </div>
        }
        @@if(context.setMeal){
          <div class="product-item_composition--item">
            <svg>
              <use xlink:href="images/icons/sprite.svg#set-meal"></use>
            </svg>
          </div>
        }

      </div>
    </div>
    <div class="product-item_desc">
      <h2 class="product-item_title">@@title</h2>
      <div class="product-item_weight">@@weight</div>
    </div>
    <div class="product-item_footer">
      <div class="compound">
        <div class="compound_total">
          <div class="compound_title">всего</div>
          <div class="compound_count">378 ккал</div>
        </div>
        <div class="compound_items">
          <div class="compound_col">
            <div class="compound_title">Белки</div>
            <div class="compound_count">15.90 гр</div>
          </div>
          <div class="compound_col">
            <div class="compound_title">Жиры</div>
            <div class="compound_count">32.20 гр</div>
          </div>
          <div class="compound_col">
            <div class="compound_title">Углеводы</div>
            <div class="compound_count">35.80 гр</div>
          </div>
        </div>
      </div>
      <form action="#">
        <div class="product-item_form">
          <div class="product-item_price">+ 30.00 ₴</div>
          <button type="submit" class="btn-plus click-animation">
            <svg>
              <use xlink:href="images/icons/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>