<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="howWorks-box">
          <h2 class="h1 mb-32 text-center">Как это работает</h2>

          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="dropdown selectMobile mb-32">
                <button class="dropdown-toggle drop-btn d-flex d-xl-none" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="drop-btn_text">Программное питание</span>
                  <span class="drop-btn_arrow"></span>
                </button>

                <div class="filter-radioBtns dropdown-menu dropdown-menu--mobile" data-col="3" id="nav-tab" role="tablist">
                  <label class="input-radio">
                    <input type="radio" name="howWorks" checked>
                    <span class="input-radio_box active" id="PP-tab" data-bs-toggle="tab" data-bs-target="#nav-PP" role="tab" aria-controls="nav-PP" aria-selected="true">
                      <span class="input-radio_label">
                        <span class="input-radio_label--text">Программное питание</span>
                      </span>
                    </span>
                  </label>
                  <label class="input-radio">
                    <input type="radio" name="howWorks">
                    <span class="input-radio_box"  id="DD-tab" data-bs-toggle="tab" data-bs-target="#nav-DD" role="tab" aria-controls="nav-DD" aria-selected="false">
                      <span class="input-radio_label">
                        <span class="input-radio_label--text">Доставка отдельных блюд</span>
                      </span>
                    </span>
                  </label>
                  <label class="input-radio">
                    <input type="radio" name="howWorks">
                    <span class="input-radio_box" id="HE-tab" data-bs-toggle="tab" data-bs-target="#nav-HE" role="tab" aria-controls="nav-HE" aria-selected="false">
                      <span class="input-radio_label">
                        <span class="input-radio_label--text">Heat and eat</span>
                      </span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-content howWorks-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-PP" role="tabpanel" aria-labelledby="PP-tab" tabindex="0">
              <div class="howWorks-tabContent">
                <div class="howWorks-tabContent__img tab-content">
                  <div class="tab-pane fade show active" id="PP-nav-img-1" role="tabpanel" aria-labelledby="PP-nav-img-tab-1" tabindex="0">
                    <img src="images/howWorks/2.png" alt="">
                  </div>
                  <div class="tab-pane fade" id="PP-nav-img-2" role="tabpanel" aria-labelledby="PP-nav-img-tab-2" tabindex="0">
                    <img src="images/howWorks/3.png" alt="">
                  </div>
                  <div class="tab-pane fade" id="PP-nav-img-3" role="tabpanel" aria-labelledby="PP-nav-img-tab-3" tabindex="0">
                    <img src="images/howWorks/4.png" alt="">
                  </div>
                  <div class="tab-pane fade" id="PP-nav-img-4" role="tabpanel" aria-labelledby="PP-nav-img-tab-4" tabindex="0">
                    <img src="images/howWorks/1.png" alt="">
                  </div>
                </div>

                <div class="howWorks-tabContent__desc" id="nav-tab-1" role="tablist">
                  <div class="howWorksAccordion" id="PP-howWorks-accordion">
                    <div class="howWorksAccordion-item active">
                      <h2 class="howWorksAccordion-header active" id="PP-nav-img-tab-1" data-bs-toggle="tab" data-bs-target="#PP-nav-img-1" role="tab" aria-controls="PP-nav-img-1" aria-selected="true">
                        <button class="howWorksAccordion-header__button" type="button" data-bs-toggle="collapse" data-bs-target="#howWorks-tabContent-1" aria-expanded="true" aria-controls="howWorks-tabContent-1">
                              <span class="howWorksAccordion-header__wrapCounter">
                                <span class="howWorksAccordion-header__count">01 <span class="d-none d-lg-block">.</span></span>
                              </span>
                          <span class="howWorksAccordion-header__title">Выбери программу</span>
                        </button>
                      </h2>
                      <div id="howWorks-tabContent-1" class="accordion-collapse collapse show" data-bs-parent="#PP-howWorks-accordion">
                        <div class="howWorksAccordion-body">
                          <div class="howWorksAccordion-body__text">
                            <p>Выбери цель и подходящую по калорийности программу. В нашем меню 12 программ питания под разные цели и 150 блюд. Выберите программу или позвольте сделать это нам.</p>
                          </div>
                          <div class="howWorksAccordion-body__img">
                            <img src="images/howWorks/2.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="howWorksAccordion-item">
                      <h2 class="howWorksAccordion-header" id="PP-nav-img-tab-2" data-bs-toggle="tab" data-bs-target="#PP-nav-img-2" role="tab" aria-controls="PP-nav-img-2" aria-selected="false">
                        <button class="howWorksAccordion-header__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#howWorks-tabContent-2" aria-expanded="false" aria-controls="howWorks-tabContent-2">
                              <span class="howWorksAccordion-header__wrapCounter">
                                <span class="howWorksAccordion-header__count">02 <span class="d-none d-lg-block">.</span></span>
                              </span>
                          <span class="howWorksAccordion-header__title">Выбери длительность</span>
                        </button>
                      </h2>
                      <div id="howWorks-tabContent-2" class="accordion-collapse collapse" data-bs-parent="#PP-howWorks-accordion">
                        <div class="howWorksAccordion-body">
                          <div class="howWorksAccordion-body__text">
                            <p>Выбери длительность программы.</p>
                            <p>Чем больше длительность тем больше скидка.</p>
                          </div>
                          <div class="howWorksAccordion-body__img">
                            <img src="images/howWorks/3.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="howWorksAccordion-item">
                      <h2 class="howWorksAccordion-header" id="PP-nav-img-tab-3" data-bs-toggle="tab" data-bs-target="#PP-nav-img-3" role="tab" aria-controls="PP-nav-img-3" aria-selected="false">
                        <button class="howWorksAccordion-header__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#howWorks-tabContent-3" aria-expanded="false" aria-controls="howWorks-tabContent-3">
                               <span class="howWorksAccordion-header__wrapCounter">
                                <span class="howWorksAccordion-header__count">03 <span class="d-none d-lg-block">.</span></span>
                              </span>
                          <span class="howWorksAccordion-header__title">доставка</span>
                        </button>
                      </h2>
                      <div id="howWorks-tabContent-3" class="accordion-collapse collapse" data-bs-parent="#PP-howWorks-accordion">
                        <div class="howWorksAccordion-body">
                          <div class="howWorksAccordion-body__text">
                            <p>Выбери удобное время доставки - утром или вечером</p>
                          </div>
                          <div class="howWorksAccordion-body__img">
                            <img src="images/howWorks/4.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="howWorksAccordion-item">
                      <h2 class="howWorksAccordion-header" id="PP-nav-img-tab-4" data-bs-toggle="tab" data-bs-target="#PP-nav-img-4" role="tab" aria-controls="PP-nav-img-4" aria-selected="false">
                        <button class="howWorksAccordion-header__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#howWorks-tabContent-4" aria-expanded="false" aria-controls="howWorks-tabContent-4">
                               <span class="howWorksAccordion-header__wrapCounter">
                                <span class="howWorksAccordion-header__count">04 <span class="d-none d-lg-block">.</span></span>
                              </span>
                          <span class="howWorksAccordion-header__title">оплата</span>
                        </button>
                      </h2>
                      <div id="howWorks-tabContent-4" class="accordion-collapse collapse" data-bs-parent="#PP-howWorks-accordion">
                        <div class="howWorksAccordion-body">
                          <div class="howWorksAccordion-body__text">
                            <p>Соверши оплату, достигай цели, ставь новую и возвращайся к нам</p>
                          </div>
                          <div class="howWorksAccordion-body__img">
                            <img src="images/howWorks/1.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade show" id="nav-DD" role="tabpanel" aria-labelledby="DD-tab" tabindex="0">
              <div class="howWorks-tabContent">
                <div class="howWorks-tabContent__img tab-content">
                  <div class="tab-pane fade show active" id="DD-nav-img-1" role="tabpanel" aria-labelledby="DD-nav-img-tab-1" tabindex="0">
                    <img src="images/howWorks/5.png" alt="">
                  </div>
                  <div class="tab-pane fade" id="DD-nav-img-2" role="tabpanel" aria-labelledby="DD-nav-img-tab-2" tabindex="0">
                    <img src="images/howWorks/6.png" alt="">
                  </div>
                  <div class="tab-pane fade" id="DD-nav-img-3" role="tabpanel" aria-labelledby="DD-nav-img-tab-3" tabindex="0">
                    <img src="images/howWorks/7.png" alt="">
                  </div>
                </div>

                <div class="howWorks-tabContent__desc" id="DD-nav-tab-1" role="tablist">
                  <div class="howWorksAccordion" id="DD-howWorks-accordion">
                    <div class="howWorksAccordion-item active">
                      <h2 class="howWorksAccordion-header active" id="DD-nav-img-tab-1" data-bs-toggle="tab" data-bs-target="#DD-nav-img-1" role="tab" aria-controls="DD-nav-img-1" aria-selected="true">
                        <button class="howWorksAccordion-header__button" type="button" data-bs-toggle="collapse" data-bs-target="#DD-howWorks-tabContent-1" aria-expanded="true" aria-controls="DD-howWorks-tabContent-1">
                              <span class="howWorksAccordion-header__wrapCounter">
                                <span class="howWorksAccordion-header__count">01 <span class="d-none d-lg-block">.</span></span>
                              </span>
                          <span class="howWorksAccordion-header__title">Выбери блюда</span>
                        </button>
                      </h2>
                      <div id="DD-howWorks-tabContent-1" class="accordion-collapse collapse show" data-bs-parent="#DD-howWorks-accordion">
                        <div class="howWorksAccordion-body">
                          <div class="howWorksAccordion-body__text">
                            <p>Выбери что нам тебе приготовить </p>
                          </div>
                          <div class="howWorksAccordion-body__img">
                            <img src="images/howWorks/5.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="howWorksAccordion-item">
                      <h2 class="howWorksAccordion-header" id="DD-nav-img-tab-2" data-bs-toggle="tab" data-bs-target="#DD-nav-img-2" role="tab" aria-controls="DD-nav-img-2" aria-selected="false">
                        <button class="howWorksAccordion-header__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#DD-howWorks-tabContent-2" aria-expanded="false" aria-controls="DD-howWorks-tabContent-2">
                              <span class="howWorksAccordion-header__wrapCounter">
                                <span class="howWorksAccordion-header__count">02 <span class="d-none d-lg-block">.</span></span>
                              </span>
                          <span class="howWorksAccordion-header__title">доставка</span>
                        </button>
                      </h2>
                      <div id="DD-howWorks-tabContent-2" class="accordion-collapse collapse" data-bs-parent="#DD-howWorks-accordion">
                        <div class="howWorksAccordion-body">
                          <div class="howWorksAccordion-body__text">
                            <p>Ожидаю доставку в течении 60 мин</p>
                          </div>
                          <div class="howWorksAccordion-body__img">
                            <img src="images/howWorks/6.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="howWorksAccordion-item">
                      <h2 class="howWorksAccordion-header" id="DD-nav-img-tab-3" data-bs-toggle="tab" data-bs-target="#DD-nav-img-3" role="tab" aria-controls="DD-nav-img-3" aria-selected="false">
                        <button class="howWorksAccordion-header__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#DD-howWorks-tabContent-3" aria-expanded="false" aria-controls="DD-howWorks-tabContent-3">
                               <span class="howWorksAccordion-header__wrapCounter">
                                <span class="howWorksAccordion-header__count">03 <span class="d-none d-lg-block">.</span></span>
                              </span>
                          <span class="howWorksAccordion-header__title">Питаетесь правильно</span>
                        </button>
                      </h2>
                      <div id="DD-howWorks-tabContent-3" class="accordion-collapse collapse" data-bs-parent="#DD-howWorks-accordion">
                        <div class="howWorksAccordion-body">
                          <div class="howWorksAccordion-body__text">
                            <p>Каждому, кто любит пользоваться классической доставкой блюд действуют специальные предложения на программы здорового питания, детали спрашивай у администратора!</p>
                          </div>
                          <div class="howWorksAccordion-body__img">
                            <img src="images/howWorks/7.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade show" id="nav-HE" role="tabpanel" aria-labelledby="HE-tab" tabindex="0">
              <div class="howWorks-tabContent">
                <div class="howWorks-tabContent__img tab-content">
                  <div class="tab-pane fade show active" id="HE-nav-img-1" role="tabpanel" aria-labelledby="HE-nav-img-tab-1" tabindex="0">
                    <img src="images/howWorks/10.png" alt="">
                  </div>
                  <div class="tab-pane fade" id="HE-nav-img-2" role="tabpanel" aria-labelledby="HE-nav-img-tab-2" tabindex="0">
                    <img src="images/howWorks/9.png" alt="">
                  </div>
                  <div class="tab-pane fade" id="HE-nav-img-3" role="tabpanel" aria-labelledby="HE-nav-img-tab-3" tabindex="0">
                    <img src="images/howWorks/8.png" alt="">
                  </div>
                  <div class="tab-pane fade" id="HE-nav-img-4" role="tabpanel" aria-labelledby="HE-nav-img-tab-4" tabindex="0">
                    <img src="images/howWorks/1.png" alt="">
                  </div>
                </div>

                <div class="howWorks-tabContent__desc" id="HE-nav-tab-1" role="tablist">
                  <div class="howWorksAccordion" id="HE-howWorks-accordion">
                    <div class="howWorksAccordion-item active">
                      <h2 class="howWorksAccordion-header active" id="HE-nav-img-tab-1" data-bs-toggle="tab" data-bs-target="#HE-nav-img-1" role="tab" aria-controls="HE-nav-img-1" aria-selected="true">
                        <button class="howWorksAccordion-header__button" type="button" data-bs-toggle="collapse" data-bs-target="#HE-howWorks-tabContent-1" aria-expanded="true" aria-controls="HE-howWorks-tabContent-1">
                              <span class="howWorksAccordion-header__wrapCounter">
                                <span class="howWorksAccordion-header__count">01 <span class="d-none d-lg-block">.</span></span>
                              </span>
                          <span class="howWorksAccordion-header__title">Выбери программу</span>
                        </button>
                      </h2>
                      <div id="HE-howWorks-tabContent-1" class="accordion-collapse collapse show" data-bs-parent="#HE-howWorks-accordion">
                        <div class="howWorksAccordion-body">
                          <div class="howWorksAccordion-body__text">
                            <p>Выбери кол-во блюд, чем больше кол-во блюд тем выше скидка на каждое блюдо. Наши блюда специально вакуумированы и хранятся до 5 дней. </p>
                          </div>
                          <div class="howWorksAccordion-body__img">
                            <img src="images/howWorks/10.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="howWorksAccordion-item">
                      <h2 class="howWorksAccordion-header" id="HE-nav-img-tab-2" data-bs-toggle="tab" data-bs-target="#HE-nav-img-2" role="tab" aria-controls="HE-nav-img-2" aria-selected="false">
                        <button class="howWorksAccordion-header__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#HE-howWorks-tabContent-2" aria-expanded="false" aria-controls="HE-howWorks-tabContent-2">
                              <span class="howWorksAccordion-header__wrapCounter">
                                <span class="howWorksAccordion-header__count">02 <span class="d-none d-lg-block">.</span></span>
                              </span>
                          <span class="howWorksAccordion-header__title">доставка</span>
                        </button>
                      </h2>
                      <div id="HE-howWorks-tabContent-2" class="accordion-collapse collapse" data-bs-parent="#HE-howWorks-accordion">
                        <div class="howWorksAccordion-body">
                          <div class="howWorksAccordion-body__text">
                            <p>Обрати внимание, что блюда по принципу H&E доставляются 2 раза в неделю. </p>
                          </div>
                          <div class="howWorksAccordion-body__img">
                            <img src="images/howWorks/9.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="howWorksAccordion-item">
                      <h2 class="howWorksAccordion-header" id="HE-nav-img-tab-3" data-bs-toggle="tab" data-bs-target="#HE-nav-img-3" role="tab" aria-controls="HE-nav-img-3" aria-selected="false">
                        <button class="howWorksAccordion-header__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#HE-howWorks-tabContent-3" aria-expanded="false" aria-controls="HE-howWorks-tabContent-3">
                              <span class="howWorksAccordion-header__wrapCounter">
                                <span class="howWorksAccordion-header__count">03 <span class="d-none d-lg-block">.</span></span>
                              </span>
                          <span class="howWorksAccordion-header__title">Выбери блюда</span>
                        </button>
                      </h2>
                      <div id="HE-howWorks-tabContent-3" class="accordion-collapse collapse" data-bs-parent="#HE-howWorks-accordion">
                        <div class="howWorksAccordion-body">
                          <div class="howWorksAccordion-body__text">
                            <p>Выбери сами блюда. С помощью сайта ты сможет сообщить нам, что доставить тебе в первую доставку, а что во вторую</p>
                          </div>
                          <div class="howWorksAccordion-body__img">
                            <img src="images/howWorks/8.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="howWorksAccordion-item">
                      <h2 class="howWorksAccordion-header" id="HE-nav-img-tab-4" data-bs-toggle="tab" data-bs-target="#HE-nav-img-4" role="tab" aria-controls="HE-nav-img-4" aria-selected="false">
                        <button class="howWorksAccordion-header__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#HE-howWorks-tabContent-4" aria-expanded="false" aria-controls="HE-howWorks-tabContent-4">
                               <span class="howWorksAccordion-header__wrapCounter">
                                <span class="howWorksAccordion-header__count">04 <span class="d-none d-lg-block">.</span></span>
                              </span>
                          <span class="howWorksAccordion-header__title">оплата</span>
                        </button>
                      </h2>
                      <div id="HE-howWorks-tabContent-4" class="accordion-collapse collapse" data-bs-parent="#HE-howWorks-accordion">
                        <div class="howWorksAccordion-body">
                          <div class="howWorksAccordion-body__text">
                            <p>Соверши оплату, вкусно питайся, и возвращайся через неделю! </p>
                          </div>
                          <div class="howWorksAccordion-body__img">
                            <img src="images/howWorks/1.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>