<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-32 d-flex justify-content-between align-items-end gap-3">
          <h2 class="h1">Выбрать программу</h2>
          <a href="#" class="btn-site-2 d-none d-md-block">Все</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="swiper programs-slider">
          <div class="swiper-wrapper">
            @@loop('../../components/programs-item/index.html',
            'components/programs-item/bd.json')
            <div class="swiper-slide">
              <div class="programs-item programs-item-more">
                <a href="#">смотреть все</a>
              </div>
            </div>
          </div>
          <div class="slider-buttons">
            <button type="button" class="programs-slider-prev slider-button-prev click-animation"></button>
            <button type="button" class="programs-slider-next slider-button-next click-animation"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>