<div class="col-lg" id="accountMenu">
  <div class="row g-3">
    <div class="col-12">
      <div class="account-box">
        <a href="personalData.html" class="account-item">
          <div class="account-item_icon">
            <svg>
              <use xlink:href="images/icons/sprite.svg#account"></use>
            </svg>
          </div>
          <div class="account-item_desc">
            <div class="account-item_title">Сергей Кобец</div>
            <div class="account-item_subtitle">sergeykobetc@gmail.com</div>
          </div>
          <div class="account-item_icon-2">
            <svg>
              <use xlink:href="images/icons/sprite.svg#login"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
    <div class="col-12">
      <div class="account-box">
        <a href="orders.html" class="account-item">
          <div class="account-item_icon">
            <svg>
              <use xlink:href="images/icons/sprite.svg#dining"></use>
            </svg>
          </div>
          <div class="account-item_desc">
            <div class="account-item_title">текущие заказы</div>
          </div>
        </a>
        <a href="historyOrders.html" class="account-item active">
          <div class="account-item_icon">
            <svg>
              <use xlink:href="images/icons/sprite.svg#list"></use>
            </svg>
          </div>
          <div class="account-item_desc">
            <div class="account-item_title">История заказов</div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-12 d-none d-lg-block">
      <div class="account-info">
        <div class="account-infoItem">
          <div class="account-infoItem__icon">
            <svg>
              <use xlink:href="images/icons/sprite.svg#order"></use>
            </svg>
          </div>
          <div class="account-infoItem__title">Диета на завтра? Заказ до 10:00*</div>
          <div class="account-infoItem__text">* За рабочий день до доставки.</div>
        </div>
        <div class="account-infoItem">
          <div class="account-infoItem__icon">
            <svg>
              <use xlink:href="images/icons/sprite.svg#order"></use>
            </svg>
          </div>
          <div class="account-infoItem__title">Измените свой заказ, когда захотите*</div>
          <div class="account-infoItem__text">*Вы можете изменить тип диеты, калорийность и адрес доставки после оформления заказа.
            Вы можете вносить любые изменения до 10:00 рабочего дня, предшествующего доставке.</div>
        </div>
      </div>
    </div>
  </div>
</div>