<div class="filter-radioBtns" data-col="4">

  <label class="input-radio">
    <input type="radio" name="systems" checked>
    <span class="input-radio_box">
                        <span class="input-radio_icon">
                          <svg>
                            <use xlink:href="images/icons/sprite.svg#flatware"></use>
                          </svg>
                        </span>
                        <span class="input-radio_label">
                          <span class="input-radio_label--text">Ем все</span>
                        </span>
                      </span>
  </label>

  <label class="input-radio">
    <input type="radio" name="systems">
    <span class="input-radio_box">
                        <span class="input-radio_icon">
                          <svg>
                            <use xlink:href="images/icons/sprite.svg#eco"></use>
                          </svg>
                        </span>
                        <span class="input-radio_label">
                          <span class="input-radio_label--text">вегетарианец</span>
                        </span>
                      </span>
  </label>

  <label class="input-radio">
    <input type="radio" name="systems" disabled>
    <span class="input-radio_box">
                        <span class="input-radio_icon">
                          <svg>
                            <use xlink:href="images/icons/sprite.svg#nutrition-icon"></use>
                          </svg>
                        </span>
                        <span class="input-radio_label">
                          <span class="input-radio_label--text">кетО</span>
                          <span class="input-radio_label--info">скоро будет доступно</span>
                        </span>
                      </span>
  </label>

  <label class="input-radio">
    <input type="radio" name="systems" disabled>
    <span class="input-radio_box">
                        <span class="input-radio_icon">
                          <svg>
                            <use xlink:href="images/icons/sprite.svg#vegan"></use>
                          </svg>
                        </span>
                        <span class="input-radio_label">
                          <span class="input-radio_label--text">веган</span>
                          <span class="input-radio_label--info">скоро будет доступно</span>
                        </span>
                      </span>
  </label>

</div>