

@mixin transition($time: 0.3s) {
  transition: all ease-in-out $time;
}

@mixin reset-ul($margin: 0, $padding: 0) {
  list-style: none;
  margin: $margin;
  padding: $padding;
}

@mixin gapTop($mt) {
  margin-top: -$mt;
  & > [class^="col-"] {
    margin-top: $mt;
  }
}

@mixin link-animation-in($color, $bg-h: 1px) {
  background: linear-gradient(0deg, $color, $color) no-repeat right bottom / 0
    $bg-h;
  transition: background-size 0.3s;

  &:where(:hover, :focus-visible) {
    background-size: 100% $bg-h;
    background-position-x: left;
  }
}

@mixin link-animation-out($color, $bg-h: 1px) {
  background: linear-gradient(0deg, $color, $color) no-repeat right bottom / 0
    $bg-h;
  transition: background-size 0.3s;
  background-size: 100% $bg-h;

  &:where(:hover, :focus-visible) {
    background-size: 0 $bg-h;
    background-position-x: right;
  }
}

@mixin hoverBg($colorHover) {
  @media all and (hover: hover) {
    &:hover,
    &:focus-visible {
      background: $colorHover;
      border-color: $colorHover;
    }
  }
}

@mixin clickAnimationBg($colorBg){
  & > .ripple {
    background-color: $colorBg;
  }
}

@mixin arrowBtn( $colorArrow, $right: 8px) {
  &:after {
    content: '';
    position: absolute;
    right: $right;
    top: 50%;
    margin-top: -2px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid $colorArrow;
    @include transition();
  }
}

@mixin arrowBtnRight( $colorArrow, $right: 8px) {
  &:after {
    content: '';
    position: absolute;
    right: $right;
    top: 50%;
    margin-top: -4px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 4px solid $colorArrow;
    border-bottom: 4px solid transparent;
  }
}

@mixin scrollStyle($color-green-2, $color-gray) {
  &::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: $color-gray;
  }
  &::-webkit-scrollbar{
    width: 4px;
    height: 4px;
    background-color: $color-gray;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: $color-green-2;
  }
  &::selection {
    background: $color-gray;
    border-radius: 10px;
  }
}