$color-text: #181818;
$color-bg-body: #F1FBC7;
$color-white: #ffffff;
$color-gray: #A6A6A6;
$color-gray-2: #7E7E7E;
$color-yellow: #FFE676;
$color-yellow_hover: #EBD262;
$color-green: #C3E00D;
$color-green-2: #708200;
$color-green_hover: #A5C20A;
$color-orange: #FF922E;
$color-orange-2: #FF826D;
$color-orange_hover: #EB7E1A;
$color-light: #F1FBC7;
$color-light-2: #FFF0F2;
$color-violet: #DF84E9;
$color-blue: #8EEAE4;
$color-blue-light: #E2EFF3;
$color-pink: #F39C8E;
$color-red: #E7644F;

$font-size: 14px;
$font-size-16: 16px;
$font-Oswald: 'Oswald', sans-serif;
$font-Roboto-Condensed: 'Roboto Condensed', sans-serif;

$gap: 16px;

$border-radius-32: 32px;
$border-radius-24: 24px;
$border-radius-16: 16px;
$border-radius-12: 12px;
$border-radius-8: 8px;